Repository elan-ev/tobira, pull requests merged in 2020-12, with the labels that each got.

#103 Improve Babel and TS config
  frontend/.babelrc.js
  frontend/tsconfig.json
Labels: area:frontend

#104 Add `clean-webpack-plugin`
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Labels: area:frontend

#93 Improve configuration system
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/config.toml
  backend/macros/Cargo.toml
  backend/macros/src/config.rs
  backend/macros/src/lib.rs
  backend/server/Cargo.toml
  backend/server/src/args.rs
  backend/server/src/config.rs
  backend/server/src/db.rs
  backend/server/src/http.rs
  backend/server/src/main.rs
  floof.yaml
Labels: area:backend, kind:improvement, kind:new-feature

#110 Document Config Generator
  backend/README.md
Labels: kind:documentation

#111 Add `tobira db console` convenience command
  backend/server/src/args.rs
  backend/server/src/db/cmd.rs
Labels: area:backend, kind:improvement

#115 Support Unix Domain Sockets
  backend/Cargo.lock
  backend/server/Cargo.toml
  backend/server/src/config.rs
  backend/server/src/http.rs
Labels: area:backend, area:http-server, kind:new-feature

#118 Unix Socket Permissions
  backend/server/src/config.rs
  backend/server/src/http.rs
Labels: area:backend, area:http-server, kind:improvement

#124 Make the XTEA keys unique
  backend/server/src/db/migrations/2-id-generation.sql
Labels: area:database, kind:improvement

#125 Run `npm audit fix`
  frontend/package-lock.json
  frontend/package.json
Labels: area:frontend, kind:improvement

#122 Add series relation
  backend/server/src/db/migrations/4-series.sql
  backend/server/src/db/mod.rs
Labels: area:database, kind:new-feature

#123 Add events relation
  backend/server/src/db/migrations/5-events.sql
  backend/server/src/db/mod.rs
Labels: area:database, kind:new-feature

#132 PostgreSQL 10 Compatibility
  backend/server/src/db/migrations/2-id-generation.sql
  backend/server/src/db/migrations/4-series.sql
  backend/server/src/db/migrations/5-events.sql
  scripts/docker-compose.yml
  scripts/fixtures.sql
Labels: area:database
