Repository elan-ev/tobira, pull requests merged in 2021-01, with the labels that each got.

#142 Don't Deploy Forks
  .github/workflows/ci.yml
  .github/workflows/remove-deployment.yml
Labels: area:testing

#143 Conditionally Install Ansible in CI
  .github/workflows/ci.yml
Labels: area:testing

#159 Series API
  backend/api/src/model/block.rs
  backend/api/src/model/event.rs
  backend/api/src/model/mod.rs
  backend/api/src/model/realm.rs
  backend/api/src/model/series.rs
  frontend/src/schema.graphql
  scripts/fixtures.sql
Labels: area:api, area:backend, kind:new-feature

#158 Add video list rendering (grid layout) with dummy data
  backend/api/src/model/event.rs
  backend/server/src/db/migrations/5-events.sql
  frontend/.eslintrc.js
  frontend/src/schema.graphql
  frontend/src/ui/Blocks.tsx
  frontend/src/util/index.ts
  scripts/fixtures.sql
Labels: area:frontend, kind:new-feature
